name: Sample CI
on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c  # v6.1.0
        with:
          go-version: '1.25.x'
      - name: Install Go dependencies
        run: |
          cd functions/Func_Jobs
          go get .
          cd ../job_history
          go get .
      - name: Build Go functions
        run: |
          go build -C functions/Func_Jobs
          go build -C functions/job_history
      - name: Use Node 22
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
        with:
          node-version: 22
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061  # v4.2.0
        with:
          version: 10
      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - name: Setup pnpm cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306  # v5.0.3
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        working-directory: ui/pages/rapid-response-react
      - name: Build React app
        run: pnpm build
        working-directory: ui/pages/rapid-response-react
      - name: Test the React app
        run: pnpm test
        working-directory: ui/pages/rapid-response-react
